@font-face {
    font-family: "UbuntuRegular";  
    src: url("/src/frontend/fonts/UbuntuRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
     
@font-face {
    font-family: "UbuntuBold";
    src: url("/src/frontend/fonts/UbuntuBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@colorMain: #000010;
@colorSecond: #417B80;
@colorSecondActive:rgba(65, 123, 128, 0.15);
@colorEdit: #F8E113;
@colorDelete: #C70707;
@colorMenu: #3392FF;
@colorBG: #FFFFFF;
@colorBGHover: #e1e1e1;
@colorInactive: #8A8A8E;

@font: 'UbuntuRegular';
@fontH: 'UbuntuBold';