@import 'clean.css';
@import 'constants.less';

html {
    font-size: 8px;
}

* {
    font-family: @font, sans-serif;
    font-size: 2.125rem;
    line-height: 2.5rem;
}

#app {
    width: 41.875rem;
    margin: 0 auto;
}

h1 {
    font: normal normal bold 4.25rem/4.875rem @font;
}

button {
    width: 100%;
    text-align: center;
    padding: 1.75rem auto;
}

.tag {
    width: fit-content;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: @colorSecond;
    border: 1px solid @colorSecond;

    &:hover {
        color: @colorBG;
        background-color: @colorSecond;
    }
}

.tag-active {
    color: @colorBG;
    background-color: @colorSecond;
}

.wardrobeItem {
    width: 100%;
    padding: 0.625rem 1rem;
    margin: 0 -1rem;

    &:hover {
        background-color: @colorSecondActive;
    }
}

.wardrobeItem-active {
    background-color: @colorSecondActive;
}