@font-face {
  font-family: "UbuntuRegular";
  src: url("/src/assets/fonts/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "UbuntuBold";
  src: url("/src/assets/fonts/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
